/* TojoQK's website --- TojoQK's personal website
 * Copyright © 2020 Masaya Tojo <masaya@tojo.tokyo>
 *
 * This file is part of TojoQK's website
 *
 * TojoQK's website is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TojoQK's website is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 *  along with TojoQK's website.  If not, see <https://www.gnu.org/licenses/>.
 */

nav {
    background: #222;
}

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav-bar a {
    color: #ffffff;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #aaaaaa;
}

.nav-list {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

ul.nav-list {
    padding: 0;
    margin: 0;
}

ul.nav-list > li {
  list-style-type: none;
}

.nav-logo {
    padding: 10px 0;
    font-size: 1.5rem;
    margin-right: auto;
}

.nav-item {
    padding: 5px 10px;
    font-size: 1.2rem;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.world {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main {
    width: 85%;
}

.post-title a:hover {
}

.post-title a {
    color: black;
    text-decoration: none;
}

h1.post-title {
    margin-bottom: 0;
}

.post-date {
    padding-left: 0.2rem;
}

.main li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-list-item {
    display: flex;
    flex-direction: column;
}

.post-list-date {
    font-size: 0.7em;
}

.post-end {
    padding-left: 0;
    list-style-type: none;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.18em;
    display: flex;
    flex-direction: column;
}

h2:after {
    width: 100%;
    height: 5px;
    content: "";
    background: black;
    margin-top: 0.5rem;
}

h3 {
    font-size: 1.1em;
}

pre {
    padding: 1.5em 2.0em;
    font-size: 0.75em;
    background: #eeeeee;
    overflow: auto;
}

pre code {
    padding: 0;
    color: #333333;
}

code {
    font-family: monospace;
    color: #ee0000;
    background: #eeeeee;
    padding: 1px 5px;
}
